.breadcrumb.container{
    padding-top: 0;
}
#productSlider .owl-nav{
    top: 95%;
}
@media screen and (min-width:992px){
    .breadcrumb.container{
        padding-left: 9%;
    }
    #productSlider .owl-dots{
        top: auto;
    }
    .instruction.container .row{
        margin-top: 100px;
    }
}

