/* main slider */
.owl-carousel .owl-nav{
    margin: 0;
}
.owl-carousel .owl-stage-outer{
    height: 100%;
}
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0;
}
.owl-theme .owl-dots{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
/* 桌機圖片隱藏 */
.full{
    display: none !important;
}
.slider .slide{
    padding-top: 60px;
}
/* arrow: section of the main slider */
.owl-carousel .owl-nav button.owl-prev,.owl-carousel .owl-nav button.owl-next{
    position: absolute;
    margin: 10px;
    top: 50%;
    width: 30px;
    height: 30px;
    background-color: #797979;
    border-radius: 50%;
    text-align: center;
    z-index: 99;
    font-size: 30px;
}
.owl-carousel .owl-nav .owl-prev{
    left: 0;
    margin-left: 5px;
    color: seashell;
}
.owl-carousel .owl-nav .owl-next{
    right: 0;
    margin-right: 5px;
} 
/* section of choosing products */
.container{
    margin: 30px auto 0px;
    padding-left: 25px;
    padding-right: 25px;
}
.container .product_choice{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .product_choice .product_slider{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.container .product_choice .product_slider .product_slide{
    margin: auto;
}
.container .product_choice .product_slider .product_slide img{
    max-width: 100%;
    max-height: 100%;
}
.container .product_choice .info{
    width: 60%;
    margin-top: 30px;
    margin-left: 10px;
    position: relative;
}
.container .product_choice .info .change{
    position: absolute;
    bottom: 0;
    top: 0;
    display: none;
}
/* 問題 */
/* .active{
    display: block;
} */
.container .product_choice .info h2{
    color: var(--main-title-color);
    text-align: center;
}
.container .product_choice .info .price{
    text-align: center;
    color: var(--secondary-title-color);
    padding: 5px 0px;
}
.container .product_choice .info .links{
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: -50px;
    bottom: -100px;
}
.container .product_choice .info .links .cart{
    padding-right: 10px;
}
.container .product_choice .info .links a{
    width: 30px;
    cursor: pointer;
}
.container .product_choice .info .links a img{
    max-width: 100%;
    max-height: 100%;
}
/* arrow: section of product slider */
#productSlider .owl-stage-outer{
    position: relative;
    margin-bottom: 10px;
}
#productSlider .owl-nav{
    position: absolute;
    top: 100%;
    z-index: 99;
}
#productSlider .owl-prev, #productSlider .owl-next{
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #F9D37A!important;
    border-radius: 20%;
    text-align: center;
    z-index: 99;
    font-size: 2rem!important;
}
#productSlider .owl-prev{
    left: -200%;
}
#productSlider .owl-next{
    right: -200%;
}
#productSlider .owl-dots{
    top: 100%;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}
/* instructions */
.instruction.container .row{
    margin-top: 150px;
}
.instruction.container .row .col-12 .title{
    color: var(--secondary-title-color);
    padding: 0px 10px 10px;
}
.instruction.container .row .col-12 span{
    color: var(--third-title-color);
    padding-left: 10px;
}
.instruction.container .row .col-12 .item{
    display: flex;
    padding: 10px 0px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.instruction.container .row .col-12 .item .pic{
    width: 60px;
    display: flex;
    padding: 0px 10px;
    align-items: center;
    justify-content: center;
}
.instruction.container .row .col-12 .item .pic img{
    max-width: 100%;
    max-height: 100%;
}
.instruction.container .row .col-12 .item .wrap{
    width: 60%;
}
.instruction.container .row .col-12 .item .wrap .step{
    padding-bottom: 10px;
    color: var(--third-title-color);
}
.instruction.container .row .col-12 .item .wrap .step_content{
    font-size: 1.5rem;
}
.instruction .noodle_string img{
    max-width: 100%;
    max-height: 100%;
    opacity: 0.2;
}
/* bestsellers */
.bestseller h2{
    text-align: center;
    display: flex;
    justify-content: center;
    color: var(--main-title-color);
    margin: 10px auto;
}
.bestseller h2 img{
    width: 30px;
    height: 30px;
}
.bestseller .item{
    width: 100%;
    margin-bottom: 30px;
}
.bestseller .item a img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
}
.bestseller .item .txt{
    text-align: center;
    line-height: 1.5;
}
.bestseller .item .txt h3{
    color: var(--main-title-color);
}
.bestseller .item .txt p{
    color: #3F4247;
    font-weight: 900;
}
/* culinary */
.culinary h2{
    color: var(--main-title-color);
    text-align: center;
    margin: 10px auto;
    padding-top: 20px;
}
.culinary .row .col-12, .culinary .row .col-lg-4{
    flex-direction: column;
    margin-bottom: 30px;
}
.culinary .row .video{
    width: 100%
}
.culinary .row .video iframe{
    width: 100%;
}
.culinary .row .subtitle{
    color: var(--secondary-title-color);
    margin: 10px 0px;
}
.culinary .row .desc{
    color: var(--third-title-color);
}
/* discover */
.discover{
    background-image: url(../img/slider\ or\ banner/discover_bgc.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0px;
    background-position: bottom;
}
.discover h2{
    text-align: center;
    color: var(--secondary-title-color);
}
.discover .view_more{
    justify-content: center;
    margin-top: 20px;
}
.view_more{
    display: flex;
    justify-content:right;
}
.view_more_btn{
    width: 150px;
    height: 30px;
    border: 3px solid #FA0001;
    border-radius: 300px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view_more_btn a{
    font-size: 18px;
    color: #000000;
}
.view_more_btn:hover a{
    color: #fff;
}
.view_more_btn:hover{
    background-color: #FA0001;
}
@media screen and (min-width: 992px) {
    /* 手機圖片隱藏 */
    .mobile{
        display: none !important;
    }
    .full{
        display: block !important;
    }
    /* main slider */
    #mainSlider.owl-carousel .owl-nav button.owl-prev, #mainSlider.owl-carousel .owl-nav button.owl-next{
        width: 50px;
        height: 50px;
        margin: 10px;
    }
    .slider .slide{
        padding-top: 100px;
    }
    /* product slider */
    .container .product_choice{
        flex-direction: row;
    }
    .container .product_choice .info{
        height: 270px;
    }
    .container .product_choice .info .desc{
        padding: 10px 0px;
        color: var(--third-title-color);
    }
    .container .product_choice .info .price{
        padding: 10px 0px;
    }
    .container .product_choice .info .links{
        right: 0;
        bottom: -100%;
    }
    .container .product_choice .info .links a{
        display: block;
        width: 50px;
    }
    /* instructions */
    .col-lg-12 .instruction_wrapper{
        display: flex;
        align-items: center;
        padding: 0px 10px;
        justify-content: space-between;
    }
    .col-12 .instruction_wrapper .item .pic{
        padding: 0;
        margin-right: 10px;
    }
    .col-12 .instruction_wrapper .item .wrap{
        width: 200px;
    }
    /* bestsellers */
    .bestseller .item{
        height: 297px;
        position: relative;
        margin-bottom: 0px;
    }
    .bestseller .item:nth-of-type(2){
        display: flex;
        flex-direction: row-reverse;
    }
    .bestseller .item a{
        height: inherit;
        width: inherit;
        display: contents;
    }
    .bestseller .item a img{
        position: absolute;
    }
    .bestseller .item .txt{
        width: 720px;
        height: 100%;
        border-radius: 50px;
        top: 0;
        background-color: rgba(255, 255, 255, .5);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        opacity: 0;
        position: relative;
    }
    .bestseller .item a:hover .txt{
        opacity: 1;
        animation: slide .5s cubic-bezier(.250, .460, .450, .940), both;
    }
    @keyframes slide {
        0% {
            transform: translateY(-100px) translateX(-100px);
            transform: translateY(-100px) translateX(-100px);
        }
        100% {
            transform: translateY(0px) translateX(0px);
            transform: translateY(0px) translateX(0px);
        }
    }
    .bestseller .item:nth-child(3) a >img{
        right: 0;
        top: -8%;
    }
    .bestseller .item:nth-child(3) .txt{
        top: -8%;
    }
    .bestseller .item:nth-child(4) a >img{
        bottom: 13%;
    }
    .bestseller .item:nth-child(4) .txt{
        top: -13%;
    }
    /* culinary */
    .culinary{
        background-image: url(../img/slider\ or\ banner/culinary_bgc.jpg);
        background-size: contain;
        border-radius: 50px;
        background-repeat: no-repeat;
    }
    .culinary .row{
        flex-wrap: nowrap;
    }

    .culinary .row .col-lg-4 .video{
        display: flex;
        justify-content: center;
    }
    .culinary .row .col-lg-4:nth-child(odd) .video{
        padding-top: 50px;
    }
    .culinary .row .col-lg-4 .video iframe{
        width: 300px;
        height: 300px;
    }
    .culinary .row .col-lg-4 .subtitle{
        width: 300px;
    }
    .culinary .row .col-lg-4 .desc{
        width: 300px;
    }
    /* discover */
    .discover{
        padding: 150px 0px;
    }
}














